<a href="https://colab.research.google.com/github/mgskko/Machine-Learning/blob/main/pandas_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC%EB%A5%BC_%ED%99%9C%EC%9A%A9%ED%95%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

In [2]:
os.listdir('./drive/MyDrive/machine_learning_data')

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend_index_true.csv',
 'new_friend.csv']

In [3]:
# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src = base_src+"/friend.csv"

In [4]:
#판다스의 read_csv => 데이터 불러오기

In [5]:
df = pd.read_csv(friend_src, encoding = 'utf-8')

In [6]:
#head( ) 데이터를 읽어보기 -> 5개만 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [7]:
new_friend_src =  base_src + "/new_friend.csv"

In [8]:
#index = False 꼭 넣기
df.to_csv(new_friend_src,index = False, encoding = 'utf-8')

In [9]:
os.listdir(base_src)

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend_index_true.csv',
 'new_friend.csv']

In [10]:
new_friend_src

'./drive/MyDrive/machine_learning_data/new_friend.csv'

In [11]:
os.listdir(base_src)

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend_index_true.csv',
 'new_friend.csv']

In [12]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [13]:
# Series 실습
import numpy as np
np. array([1,2,3])

array([1, 2, 3])

In [14]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [15]:
# 데이터프레임(집합) => 시리즈 (단일) => 데이터프레임
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [16]:
# pd.series 함수를 통해서 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
from pandas.core.arrays.sparse import dtype
# pd.Series 의 옵션이 무엇이 있는지 확인
# index => 할당값의 지정 이름, 중복 가능['a','a','b','c']
# dtype => 대표적: int, float, string, boolean 등
series = pd.Series([1,2,3,4], index=['a','b','c','d'],dtype = int)
series

a    1
b    2
c    3
d    4
dtype: int64

In [18]:
series = pd.Series([10,2,5,4], index=['a','b','c','d'],dtype = float)
series = series.sort_values(ascending=True)

In [19]:
series

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [20]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [21]:
# DataFrame 실습
df = pd.DataFrame({'a':[2,3], 'b': [5,10]})
df

   a   b
0  2   5
1  3  10

In [22]:
df = pd.DataFrame([[2,5],[3,10],[10,20]],columns=['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [23]:
df = pd.DataFrame([[2,3,10],[5,10,20],[100,200,300]],
                  index = ['가','나','다'], dtype = float, columns=['a','b','c'])

In [24]:
df

       a      b      c
가    2.0    3.0   10.0
나    5.0   10.0   20.0
다  100.0  200.0  300.0

In [44]:
# - DataFrame 행,열 선택 및 필터링
df = pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [26]:
# index 2번에 해당하는 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [27]:
# 데이터 프레임으로 가져오기
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

In [28]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [29]:
df.loc[:, 'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [30]:
df.loc[1,'job']

'developer'

In [31]:
df.iloc[1,2]

'developer'

In [32]:
df.iloc[2:4]

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [33]:
# col은 row도 정해줘야 된다
df.iloc[:,:2]

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [34]:
# -DataFrame 행,열 삭제
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [35]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [36]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [37]:
## ['B','C'] 컬럼을 삭제하겠다. axis=0 or 1 => 0:row 방향 , 1:col 방향
df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [38]:
df.drop([0, 1], axis=0)

   A  B   C   D
2  8  9  10  11

In [39]:
# 데이터 수정
df.loc[1,'C'] = '육'
df

   A  B   C   D
0  0  1   2   3
1  4  5   육   7
2  8  9  10  11

In [40]:
df.iloc[1,2] = 6

In [41]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [42]:
#슬라이싱을 사용해 원하는 범위까지 바꾸기
df.iloc[:,1] = "끝"
df

   A  B   C   D
0  0  끝   2   3
1  4  끝   6   7
2  8  끝  10  11

In [45]:
# 조건 필터링 가져오기
# 30대 이상만 가져오기
df[df['age']>=30]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [46]:
# job이 intern인 사람 가져오기
df[df['job'] == 'intern']

    name  age     job
5  Chris   25  intern

In [47]:

# 조건이 여러개인 경우
# 30대 이상 40대 이하
df[(df['age']>=30) & ((((df['age']<=40))))]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [48]:
# 30대 미만 혹은 40대 초과
df[(df['age']<30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [49]:
5 in [1,3,5,8,23,215]

True

In [50]:
# in을 통한 포함 조건 달기
df[df['job'].apply(lambda x : x in ['student','manager'])]

    name  age      job
0   John   20  student
4  Brian   45  manager

In [51]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [52]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [53]:
df.drop(['A','C'],axis=1)

   B   D
0  1   3
1  5   7
2  9  11

In [54]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [55]:
#B , C 컬럼을 삭제
df.drop(['B','C'],axis = 1,inplace = True)

In [56]:
df

   A   D
0  0   3
1  4   7
2  8  11

In [57]:
# 인덱스 0과 1 삭제
df.drop([0,1])

   A   D
2  8  11

In [58]:
# - DataFrame 행,열 선택 및 필터링
df = pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [59]:
#df를 하나 복사( 원본 데이터 유지를 위해)
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [60]:
# age컬럼 모든 값을 변경
temp['age'] = 20
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [61]:
temp.loc[2,'age'] = 27
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
os.listdir(base_src)

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend_index_true.csv',
 'new_friend.csv']

In [64]:
abalone_src = base_src+'/abalone.data'
abalone_df = pd.read_csv(base_src+'/abalone.data',
             header=None,sep=',',
             names=['sex','length','diameter','height', 
                  'whole_weight','shucked_weight','viscera_weight', 
                  'shell_weight','rings'])

In [65]:
abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [66]:
# 데이터 shape를 확인
# 딥러닝(CNN) => 이미지 (데이터수, 가로, 세로, 3)
# 딥러닝(RNN) => 텍스트, 시계열 (데이터수, 시간 ,세로)
abalone_df.shape

(4177, 9)

In [67]:
# 데이터 결측값 확인
abalone_df.isnull().sum()

sex               0
length            0
diameter          0
height            0
whole_weight      0
shucked_weight    0
viscera_weight    0
shell_weight      0
rings             0
dtype: int64

In [68]:
abalone_df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [69]:
# 기술통계 획인 => 연속형 변수만 확인
abalone_df.describe()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [73]:
from pandas.core.groupby import groupby
# 전복(abalone) 성별에 따라 groupby함수를 통해 집계
grouped = abalone_df['whole_weight'].groupby(abalone_df['sex'])

In [74]:
grouped.sum()

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [75]:
grouped.mean()

sex
F    1.046532
I    0.431363
M    0.991459
Name: whole_weight, dtype: float64

In [76]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [77]:
# 그룹변수가 하나가 아닌, 전체 연속형 변수에 대한 집계
abalone_df.groupby(abalone_df['sex']).mean()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [78]:
# 다음과 같이 간단하게 표현 가능
abalone_df.groupby('sex').mean()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [79]:
# 새로운 조건에 맞는 변수 추가
import numpy as np
abalone_df['length_bool'] = np.where(abalone_df['length']>abalone_df['length'].median(),
                                     'length_long', #true일 경우
                                     'length_short') #false

In [80]:
abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [85]:
# 그룹변수를 2개 이상 선택해서 총계처리?
abalone_df.groupby(['sex','length_bool']).mean()

                    length  diameter    height  whole_weight  shucked_weight  \
sex length_bool
F   length_long   0.626895  0.493020  0.169944      1.261330        0.542957
    length_short  0.477428  0.373301  0.132632      0.589702        0.240380
I   length_long   0.584495  0.452952  0.150957      0.923215        0.402524
    length_short  0.402210  0.305893  0.100997      0.351234        0.156581
M   length_long   0.623359  0.489291  0.168670      1.255182        0.554312
    length_short  0.454875  0.353336  0.121664      0.538157        0.224335

                  viscera_weight  shell_weight      rings
sex length_bool
F   length_long         0.276945      0.360013  11.415073
    length_short        0.132311      0.178650  10.521531
I   length_long         0.196912      0.273247  10.585106
    length_short        0.074920      0.104549   7.451473
M   length_long         0.272203      0.351683  11.299172
    length_short        0.118156      0.162141   9.685053

In [86]:
# 간결하게 표현할 수 있다
abalone_df.groupby(['sex','length_bool'])['whole_weight'].mean()

sex  length_bool
F    length_long     1.261330
     length_short    0.589702
I    length_long     0.923215
     length_short    0.351234
M    length_long     1.255182
     length_short    0.538157
Name: whole_weight, dtype: float64

In [87]:
# 중복 데이터 삭제
# 중복된 row를 확인하는 법
abalone_df.duplicated().sum()

0

In [88]:
# 중복 예제 생성을 위해서 , 가상으로 중복데이터 생성
new_abalone = abalone_df.iloc[[0]]
new_abalone_df = pd.concat([abalone_df,new_abalone],axis=0)
new_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short

In [90]:
new_abalone_df.duplicated().sum()

1

In [91]:
new_abalone_df.duplicated(keep='last')

0        True
1       False
2       False
3       False
4       False
        ...
4173    False
4174    False
4175    False
4176    False
0       False
Length: 4178, dtype: bool

In [92]:
# 중복 데이터(row 삭제)

new_abalone_df.drop_duplicates(inplace = True)

In [93]:
new_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [94]:
#NAN(결측치)를 찾아서 다른 값으로 변경
nan_abalone_df = abalone_df.copy()

In [95]:
nan_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [96]:
nan_abalone_df.loc[2,'length'] = np.nan

In [98]:
nan_abalone_df.isnull().sum()

sex               0
length            1
diameter          0
height            0
whole_weight      0
shucked_weight    0
viscera_weight    0
shell_weight      0
rings             0
length_bool       0
dtype: int64

In [99]:
 # 결측치를 특정 값으로 채우기
zero_abalone_df = nan_abalone_df.fillna(0)
zero_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.000,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [100]:
# 결측치를 결측치가 속한 컬럼의 평균값으로 대체하기
nan_abalone_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

length            0.523991
diameter          0.407881
height            0.139516
whole_weight      0.828742
shucked_weight    0.359367
viscera_weight    0.180594
shell_weight      0.238831
rings             9.933684
dtype: float64

In [101]:
nan_abalone_df.fillna(nan_abalone_df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455000,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350000,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.523991,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440000,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330000,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565000,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590000,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600000,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625000,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710000,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [117]:
nan_abalone_df.loc[2,'sex'] = np.nan

In [126]:
sex_mode  = nan_abalone_df['sex'].value_counts().sort_values(ascending = False).index[0]

In [127]:
nan_abalone_df['sex'].fillna(sex_mode)

0       M
1       M
2       M
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: sex, Length: 4177, dtype: object

In [129]:
# apply 함수 ★ 중요

#열 기준 집계
abalone_df[['diameter']].apply(np.average,axis=0)

diameter    0.407881
dtype: float64

In [130]:
# 행 기준 집계
abalone_df[['diameter']].apply(np.average,axis=1)

0       0.365
1       0.265
2       0.420
3       0.365
4       0.255
        ...
4172    0.450
4173    0.440
4174    0.475
4175    0.485
4176    0.555
Length: 4177, dtype: float64

In [135]:
# 사용자 함수를 통한 집계 ★
import math
def avg_ceil(x,y,z) :
  return math.ceil((x+y+z)/3) # ceil 올림 3.7 = 4 , 3.1 = 4

abalone_df[['diameter', 'height','whole_weight']].apply(lambda x: avg_ceil(x[0],x[1],x[2]),axis=1)

0       1
1       1
2       1
3       1
4       1
       ..
4172    1
4173    1
4174    1
4175    1
4176    1
Length: 4177, dtype: int64

In [136]:
# 문제 
  #1. 사용자 정의 함수 사용
  #2. ['diameter','height','whole_weight'] 변수 사용
  #3. 세 변수의 합이 1이 넘으면 True, 아니면 False 출력 후 answer변수에 저장
  #4. abalone_df에 answer 열을 추가하고 입력

In [137]:
def f(x) :
  sum_  = x[0] + x[1] + x[2]
  if sum_>1:
    return True
  else:
    return False

answer = abalone_df[['diameter', 'height','whole_weight']].apply(lambda x: f(x),axis=1)
abalone_df['answer'] = answer

In [138]:
abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long,True
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True

In [139]:
from pandas._libs.hashtable import value_count
# 컬럼내 유니크한 값 뽑아서 갯수 확인
abalone_df['sex'].value_counts(ascending= True)

F    1307
I    1342
M    1528
Name: sex, dtype: int64

In [140]:
# 두개의 데이터프레임 합치기
# 가상 abalone 1개 row데이터 생성 및 결합
one_abalone_df = abalone_df.iloc[[0]]
pd.concat([abalone_df,one_abalone_df],axis=0)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False

In [141]:
one_abalone_df = abalone_df.iloc[:,[0]]
pd.concat([abalone_df, one_abalone_df], axis = 1)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool,answer,sex
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False,M
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False,M
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True,F
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True,M
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False,I
...,...,...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long,True,F
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True,M
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True,M
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True,F
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True,M